/*--- Editar color de fondo de la p谩gina ---*/
body{
    background-color: #F6F1DC;

}

/*--- Configurar NavBar ---*/
#navBar{
  background-color: #146FB8;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#textoNav{
  font-size: 150%;
}
#navUbicacionTxt, #navNosotrosTxt, #navParticipaTxt, #navProductosTxt {
  color: lightgray;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 20px;
}
#navUbicacionTxt:hover, #navNosotrosTxt:hover, #navParticipaTxt:hover, #navProductosTxt:hover {
  color: white; /* color de la letra al pasarle el mouse por encima */
  background-color: rgba(255, 255, 255, 0.1); /* color del bloque de fondo */
  border-radius: 20px;
}

.navbar-brand:hover{
  background-color: rgba(255, 255, 255, 0.1); /* color del bloque de fondo */
  border-radius: 20px;
}

/*--- Configurar carrusel inicial (el que muestra las fotitos al inicio de la p谩g) ---*/
#contenedorCarrusel{
    margin-top: 40px;
    margin-bottom: 40px;
}

/*--- Carrito de compras ---*/
#botonCarrito{
  height: 38px; /* Altura del bot贸n de b煤squeda */
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.4%;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  border-radius: 20px;
  border-color: #146FB8;
}

/* Estilo espec铆fico para dispositivos m贸viles */
@media screen and (max-width: 767px) {
  #botonCarrito {
    margin-top: 2%; /* Aplicar margen superior solo en dispositivos m贸viles */
  }
}

#botonCarrito:hover{
  background-color: rgba(255, 255, 255, 0.671);
  border-color: none;
}

#iconoCarrito {
  display: inline-block;
  width: 24px; /* Ajusta el tama帽o seg煤n sea necesario */
  height: 24px;
  background: url('img/carro2.png') no-repeat center center;
  background-size: contain;
  margin-right: 5px; /* Espacio entre el icono y la insignia */
}

#botonCarrito:hover #iconoCarrito {
  background: url('img/carro.png') no-repeat center center;
  background-size: contain;
}

#badge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 12px; /* Ajusta el tama帽o seg煤n sea necesario */
  background-color: #E91E63;
  color: white;
}



/*--- Todo lo relacionado con la barrita de buscar ---*/
#botonBuscar {
  height: 40px;
  border-radius: 0 20px 20px 0;
  border-left: none;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  border-color: rgba(246,241,220,1);
  background-color:rgba(8, 44, 74,1);
}

#botonBuscar:hover {
  background-color: rgba(161, 197, 227, 0.671);
}

#iconoBuscar {
  display: inline-block;
  width: 25px;
  height: 25px; /* Ajustar la altura del icono para que coincida con la del bot贸n */
  margin-right: -1px;
  background: url('img/lupa2.png') no-repeat center center;
  background-size: cover;
}

#botonBuscar:hover #iconoBuscar {
  background: url('img/lupa.png') no-repeat center center;
  background-size: cover;
}

#barraBusqueda {
  border-color: bisque;
  height: 40px;
  border-radius: 20px 0 0 20px;
  border-right: none;
  transition: color 0.3s, background-color 0.3s;
}

/*--- Configurar titulo " PRODUCTOS MS POPULARES " inicio p谩g ---*/
#tituloMasVendidos{
  margin-bottom: 10px;
  font-size: 20px;
}

/*--- Todo lo relacionado con la barrita de redes sociales ---*/
#fondoRedesSociales{
  background-color: #31363F;
  font-size: 12px;
}
#iconosSociales{
  margin-right: 5px;
  margin-bottom: 4px;
}
#contenedorRedes{
  color:aliceblue;
}

/*--- Todo lo relacionado con el footer ---*/
#footer{
  background-color:#31363F;
  color: aliceblue;
  position: relative;
  margin-bottom: 0px;
}
#textoFooter{
  text-align: center;
}

/*--- Bot贸n con la imagen de "DONACIONES" inicio de la p谩g ---*/
#botonImagenDonacion{
  padding: 0; /* Eliminar el relleno del bot贸n */
  margin-top: 40px;
  margin-bottom: 40px;
}

/*--- Probablemente algo relacionado con el carrusel de cartas ---*/
@media (max-width: 768px) {
  .carousel-item .d-flex{
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
}

/* Modificar donde y como aparacer谩 el mensaje cuando no haya nada en el carrito*/
#empty-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center; 
}
#empty-message button {
  margin-top: 20px;
}

/* Modifica el bloque de fondo en el formulario de "PARTICIPA" */
#contenidoParticipa{
  background-color: rgb(20, 111, 184, 0.4);
  padding: 3%;
  border-radius: 10px;
}

/* #botonImagen es la etiqueta dada a los botones con imagen en "UBICACIONES" */
#botonImagen{
  margin: 0;
  padding: 0;
}

/*--- De aqu铆 para abajo solo Dios sabe lol ---*/
#containerParametros{
  max-width: 80%;
  font-size: 140%;
  margin-top: 1%;
  top: 1%;
  background-color: aliceblue;
  border-style: solid;
  border-color: #0B2447;
  border-width: 1px;
}

#contenedorProducto{
  margin-top: 30px;
  max-width: 80%;
  text-align: center;
  padding: 1%;
}

.dropdown-menu{
  z-index: 1050;
}

.custom-card{
  margin-bottom: 20px;
}

.carousel {
  position: relative;
}

/* Estilo para el bot贸n de navegaci贸n anterior */
.carousel-control-prev {
  background-color: #146FB8;
  border-radius: 50%; /* Hacer los botones redondos */
  width: 40px; 
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Centra el bot贸n verticalmente */
  left: 10%; 
}

.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns%3d%27http://www.w3.org/2000/svg%27 fill%3d%27%23fff%27 viewBox%3d%270 0 8 8%27%3e%3cpath d%3d%27M4.5 0L0 4l4.5 4 1-1L2 4l3.5-3L4.5 0z%27/%3e%3c/svg%3e');
}

/* Estilo para el bot贸n de navegaci贸n siguiente */
.carousel-control-next {
  background-color: #146FB8; 
  border-radius: 50%;
  width: 40px;
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Centra el bot贸n verticalmente */
  right: 10%;
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns%3d%27http://www.w3.org/2000/svg%27 fill%3d%27%23fff%27 viewBox%3d%270 0 8 8%27%3e%3cpath d%3d%27M3.5 0L2.5 1l3.5 3-3.5 3 1 1L8 4 3.5 0z%27/%3e%3c/svg%3e');
}

